{
  "semi": true,
  "arrowParens": "always",
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "jsxBracketSameLine": false,
  "printWidth": 100,
  "endOfLine": "auto",
  "embeddedLanguageFormatting": "off",
  "htmlWhitespaceSensitivity": "strict"
}